	<ol class="breadcrumb">
	  <li><a href="#">Home</a></li>
	  <li class="active">Blog</li>
	</ol>

	<div id="moto" class="row">
		<div class="category slide col-md-12">
			<h2>Category Title Here</h2>
			<p>Category Description Goes Right Here</p>			
		</div>
	</div>
	
	<div id="middle" class="row">
		<section class="col-md-8">
			<div class="blog-post clearfix">
				<h3>Post Title Goes Right Here</h3>
				<author class="author">Posted by <a href="#/home">Admin</a> on March 13, 2015 in <a href="#/home">Some Category</a> | 30 Comments</author>	
				<div>
					<img src="images/intro-image.jpg" alt="" height="117" width="232"/>			
					<p>		
					Aliquam eleifend lacus ac tellus volutpat porttitor. Suspendisse imperdiet tortor ut tortor bibendum pulvinar. 
					Nam est mi, accumsan sit amet vestibulum in, cursus vitae orci. Nunc varius adipiscing mi. Aliquam eleifend lacus ac tellus volutpat porttitor. Suspendisse imperdiet tortor ut tortor bibendum pulvinar. 
					Nam est mi, accumsan sit amet vestibulum in, cursus vitae orci. Nunc varius adipiscing mi. 
					<a class="blog-more" href="#/home">Read More</a>
					</p>	
				</div>					
			</div>
			<ul class="pagination">
				<li><a href="#">1</a></li>
				<li><a href="#">2</a></li>
				<li><a href="#">3</a></li>
			</ul>			
		</section>				

		<section class="col-md-4">
			<div>
				<h3>From the blog</h3>
				<ul>
					<li><a href="#/home">Aliquam eleifend lacus ac tellus volutpat porttitor.</a></li>
					<li><a href="#/home">Aliquam eleifend lacus ac tellus volutpat porttitor.</a></li>
					<li><a href="#/home">Aliquam eleifend lacus ac tellus volutpat porttitor.</a></li>
					<li><a href="#/home">Aliquam eleifend lacus ac tellus volutpat porttitor.</a></li>
					<li><a href="#/home">Aliquam eleifend lacus ac tellus volutpat porttitor.</a></li>					
				</ul>
			</div>
			
			<div>
				<h3>Archives</h3>
				<ul>
					<li><a href="#/home">Aliquam eleifend lacus ac tellus volutpat porttitor.</a></li>
					<li><a href="#/home">Aliquam eleifend lacus ac tellus volutpat porttitor.</a></li>
					<li><a href="#/home">Aliquam eleifend lacus ac tellus volutpat porttitor.</a></li>
					<li><a href="#/home">Aliquam eleifend lacus ac tellus volutpat porttitor.</a></li>
					<li><a href="#/home">Aliquam eleifend lacus ac tellus volutpat porttitor.</a></li>					
				</ul>
			</div>
	
			<div>
				<h3>Recent Posts</h3>
				<ul>
					<li><a href="#/home">Aliquam eleifend lacus ac tellus volutpat porttitor.</a></li>
					<li><a href="#/home">Aliquam eleifend lacus ac tellus volutpat porttitor.</a></li>
					<li><a href="#/home">Aliquam eleifend lacus ac tellus volutpat porttitor.</a></li>
					<li><a href="#/home">Aliquam eleifend lacus ac tellus volutpat porttitor.</a></li>
					<li><a href="#/home">Aliquam eleifend lacus ac tellus volutpat porttitor.</a></li>					
				</ul>
			</div>	
			
		</section>
	</div>