<!--	<header id="header"> -->

		<div class="row">
			<div class="col-md-6">
				<div class="logo">
					<a href="#/home">
						<img src="images/logo.png" alt="Chameleon Theme">
						<p class="slogan">Your Slogan Goes Here</p>	
					</a>
				</div>
			</div>	

			<div class="col-md-3">		
				<div id="social-icons" class="pull-right">
					<a href="#" target="_blank"><img alt="Twitter" src="images/twitter.png"></a>
					<a href="#" target="_blank"><img alt="Rss" src="images/rss.png"></a>
					<a href="#" target="_blank"><img alt="Facebook" src="images/facebook.png"></a>
				</div>
			</div>		
			
			<div class="col-md-3">
				<form id="search-form" role="search">
					<div class="form-group">
						<input type="search" class="form-control" placeholder="Search this website..." />
						<input src="images/search_btn.png" id="searchsubmit" type="image">						
					</div>
				</form>					
			</div>				
		</div>	
		
		<div class="row">
			<div class="col-md-4">
			</div>	
			
			<div class="col-md-8">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="#/home">Home</a></li>
					<li><a href="#/snake">Play Snake</a></li>	
					<li><a href="#/blog">Blog</a></li>
					<li><a href="#/home">About</a></li>
					<li><a href="#/home">Contact</a></li>
					<li><a href="#/home">Page Templates</a></li>		
					{{#if this}}
						<li>Hello, <strong>{{this}}</strong></li>	
						<li><a href="#/logout">Logout</a></li>		
					{{else}}
						<li><a href="#/loginRegister">Login/Register</a></li>
					{{/if}}					
				</ul>
			</div>	
		</div>
		
	<div class="navbar navbar-default row">
	
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"></a>
    </div>			

			<div class="navbar-collapse collapse" id="bs-example-navbar-collapse-1">
				<nav role="navigation">
					<ul class="menu nav navbar-nav">
						<li class="active">
							<a href="#/home">Home</a>
						</li>	
						<li>
							<a href="#/snake">Play Snake</a>
						</li>	
						<li>
							<a href="#/blog">Blog</a>
						</li>		
						<li>
							<a href="#/home">About</a>
						</li>	
						<li>
							<a href="#/home">Contact</a>
						</li>	
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Page Templates <span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a href="#/home">Template 1</a></li>
								<li><a href="#/home">Template 2</a></li>
								<li><a href="#/home">Template 3</a></li>
								<li role="separator" class="divider"></li>
								<li><a href="#/home">Template 4</a></li>
								<li role="separator" class="divider"></li>
								<li><a href="#/home">Template 5</a></li>
							</ul>
						</li>												
					</ul>                                      
				</nav>  
			</div>	
		</div>		
<!--	</header> -->
