
		#snake {
			position: relative;	
			border: 2px solid green;			
		}
		
		#list {
			position: absolute;
			top: 150px; 
			left: 100px;
			border: 2px solid blue;			
		}
		
		#canvas-area {
			background: #fff;
			border: 5px solid #f20;
			margin-right: 20px;
		/*	width: 700px; */ /* do not touch!!! */
		/*	height: 500px; */ /* do not touch!!! */
		}
		
		#results {
			margin-left: 20px;
			margin-bottom: 20px;
			font-size: 20px;
		}
		
		#start {
			width: 120px;
			height: 50px;
			font-size: 20px;
			background: #80ee00;
			border-radius: 15px;
			border-color: green;	
			position: absolute;
			margin: -50px 50px;
		}
		
		#start:hover {
			background: #90ff10;
		}
		