	<footer id="footer-first" class="row">
		<section class="col-md-3">
			<div class="logo">
				<a href="#/home">
					<img src="images/logo.png" alt="Chameleon Theme">
					<p class="slogan">Your Slogan Goes Here</p>	
				</a>
			</div>
			<strong>© Chameleon Theme 2010</strong>
			<p>Aliquam eleifend lacus ac tellus volutpat porttitor. Suspendisse imperdiet tortor ut tortor bibendum pulvinar. 
					Nam est mi, accumsan sit amet vestibulum in, cursus vitae orci. Nunc varius adipiscing mi. 
			</p>			
		</section>
		<section class="col-md-3">
			<h4>Recent Posts</h4>
			<ul>
				<li><a href="#">Aliquam eleifend lacus ac tellus</a></li>
				<li><a href="#">Aliquam eleifend lacus ac tellus</a></li>
				<li><a href="#">Aliquam eleifend lacus ac tellus</a></li>
				<li><a href="#">Aliquam eleifend lacus ac tellus</a></li>
				<li><a href="#">Aliquam eleifend lacus ac tellus</a></li>
			</ul>
		</section>
		<section class="col-md-3">
			<h4>Text Widget</h4>
			<p>Aliquam eleifend lacus ac tellus volutpat porttitor. Suspendisse imperdiet tortor ut tortor bibendum pulvinar. 
					Nam est mi, accumsan sit amet vestibulum in, cursus vitae orci. Nunc varius adipiscing mi. 
			</p>
		</section>
		<section class="col-md-3">
			<h4>Recent Comments</h4>
			<ul>
				<li><a href="#">Aliquam eleifend lacus ac tellus</a></li>
				<li><a href="#">Aliquam eleifend lacus ac tellus</a></li>
				<li><a href="#">Aliquam eleifend lacus ac tellus</a></li>
			</ul>
		</section>		
	</footer>
	
	<footer id="footer-second" class="row">
			<p class="col-md-6 pull-right copy">Designed by <strong>Elegant WordPress Themes</strong> | Powered by <strong>WordPress</strong></p>	
	</footer>	