<h2>Top Five Scores</h2>

<div id="games">
    {{#games}}
       <div class="well text-left">
		   <strong>Username:</strong> {{userName}} <br/>		   
		   <strong>Points:</strong> {{points}} <br/>	   
       </div>
    {{/games}}
</div>
