<ol class="breadcrumb">
    <li><a href="#">Home</a></li>
	<li class="active">Snake</li>
</ol>
	
<div class="row">
	<div id="snake" class="col-md-8">
		<h2>Snake</h2>
		<button id="start">Play</button>	
		<canvas id="canvas-area" width="600" height="400">
		</canvas>
		<div id="results"></div>
	</div>
	
	<div id="scores" class="col-md-4">
	</div>
</div>	
	
